body {
  font-family: "Aref Ruqaa Ink", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(https://i.postimg.cc/15jsHTmf/166702.jpg) no-repeat center center fixed;
  background-size: cover;
}

#countdown {
  font-size: 5vw;
  color: #daa520;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-left: 4px solid;
  animation: typing 2s steps(30, end), blink .5s step-end infinite alternate;
  direction: rtl;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  flex-direction: row-reverse;
}

.logo img {
  width: 130px;
  height: 130px;
}

.logo {
  display: flex;
  align-items: center;
}

.company-name {
  font-size: 50px;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 20px;
  transition: text-shadow 0.3s ease;
}

.company-name:hover {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.8);
}

.nav-links {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: text-shadow 0.3s ease;
}

.nav-links a:hover {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.8);
}

footer {
  color: #daa520;
  padding: 0;
  position: fixed;
  font-size: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  transition: text-shadow 0.3s ease;
}

footer:hover {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.3);
}
